<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded File</title>
</head>
<body>
    <h1>Uploaded File</h1>
    <p>Filename: {{ filename }}</p>
    <p>File has been uploaded successfully!</p>
    <a href="/">Go Back</a>
</body>

<style>
    body {
        background-color: #121212;
        color: white;
        height: 90vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
</style>
</html>
